em {
    color: #ffa86a;
}

strong {
    color: #ffa86a;
}

img {
    background:transparent;
    border: 20px solid #ffa86a;
    border: 20px solid var(--accent);
    margin: 40px 0;
    padding: 20px;
    width: 50%;
}
    @media (max-width:684px) {
        img { border-width:10px;padding:10px }
        }
    @media (--phone){
        img { border-width:10px;padding:10px }
    }